<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="punchout_form" method="post" action="https://openapi.alipaydev.com/gateway.do?charset=UTF8&method=alipay.trade.page.pay&sign=IJQuSTaZCCosL0I1hEFhWnh60PylQkVL5dZuAwrfeBhqmTN34Tj%2F6TVpAoVGKmzdZawakj9jhdic6Kq2mka1rlhhAJ%2BRF8Di8sqAXNusYqXJzuXnkiCpStVA7iu3ie8WCCsKMcnP31xvTjg%2F78YJ6f1ttvzq7C7eep5wmVXMwdD4%2BHmnmxvaR2sG8%2FlPstZhKRPxZ4LgX%2FqH7Qv7B%2FBshHVHnZGU5RZN8HxO2KLZeDBiLHrNTX3560YLX6rzae1Synfp%2Fp%2BdBxVPYOBIzgNHRc%2FIFIaxA%2FSOMiFFcAoNIuLqEtIf%2BI5Oc1DQJZwwTN34eu0oGearoM0Tg%2Fbl1%2Bkapg%3D%3D&app_id=2021000122609647&sign_type=RSA2&timestamp=2023-03-06+17%3A23%3A47&alipay_sdk=alipay-sdk-java-dynamicVersionNo&format=json">

    <input name="biz_content" value="{&quot;out_trade_no&quot;:&quot;20150320010101001&quot;,&quot;total_amount&quot;:&quot;88.88&quot;,&quot;subject&quot;:&quot;Iphone6 16G&quot;,&quot;product_code&quot;:&quot;FAST_INSTANT_TRADE_PAY&quot;}">

    <input type="submit" value="立即支付" > </form>

</body>


</html>
